{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block content %}
    <form method="POST" action="/admin/category/{{ category.id }}/delete" id="category-delete-form">
        <div class="row">
            <div class="col-md-12">
                <h1>Bestand löschen</h1>
            </div>
        </div>
        <div class="row row-form">
            {{ form_field(form.abort, 6, 'input-submit') }}
            {{ form_field(form.submit, 6, 'input-submit') }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}
