{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                Bestand {{ category.title }} in Archiv {{ category.parent.title }}
                {{ action_button('edit', '/admin/category/%s/edit' % category.id) }}
                    {{ action_button('custom', '/admin/ategory/%s/upload' % (category['id']), 'Dateiupload', 'upload') }}
                    {% if category.uploadedFile %}
                        {{ action_button('custom', '/admin/category/%s/table/%s' % (category['id'], category.uploadedFile), 'Tabellenimport fertigstellen', 'table') }}
                    {% endif %}
                    {{ action_button('delete', '/admin/category/%s/delete' % category['id']) }}
            </h1>
            <table class="table">
                <tr>
                    <td>Beschreibung</td>
                    <td>{{ category.description }}</td>
                </tr>
                <tr>
                    <td>Sichtbar</td>
                    <td>{% if category.visible %}ja{% else %}nein{% endif %}</td>
                </tr>
                <tr>
                    <td>Archiv</td>
                    <td><a href="{{ '/admin/archive/%s/show' % category.parent.id}}">{{ category.parent.title }}</a></td>
                </tr>
                <tr>
                    <td>Letzte Aktualisierung</td>
                    <td>{{ category.modified|datetime }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
