config.py
*.py[cod]

.idea

migrations
venv
node_modules
tmp
logs
temp/upload/*
temp/thumbnails/*
static/sitemap/*.xml*
static/js/*.js
static/js/*.map
static/css/*.css
static/css/*.map
static/webpack-assets.json
