config.py
*.py[cod]

.idea

migrations
venv
node_modules
tmp
logs
tests/data
temp/upload/*
temp/thumbnails/*
static/sitemap/*.xml*
static/js/*.js
!static/js/*.min.js
static/js/*.map
!static/js/*.min.map
static/webpack-assets.json
