gunicorn
Flask
Flask-Script
Flask-ElasticSearch
Flask-WTF
Flask-Login
Flask-Mail
Flask-Caching
Flask-Minio
Flask-Failsafe
Flask-MongoEngine
Flask-Celery-Helper
python-dateutil
translitcodec
python-memcached
pytz
passlib
requests
bcrypt
lxml
minio
pillow
bs4
celery
email_validator
elasticsearch>=7.0.0,<8.0.0