gunicorn
Flask
Flask-Script
Flask-ElasticSearch
Flask-WTF
Flask-Login
Flask-Mail
Flask-Caching
Flask-Failsafe
Flask-MongoEngine
Flask-Celery-Helper
python-dateutil
translitcodec
python-memcached
pytz
passlib
openpyxl
xlrd
requests
bcrypt
lxml
minio
pillow
watchdog
pyyaml
argh
future
bs4
celery
python-magic
email_validator
elasticsearch>=7.0.0,<8.0.0