gunicorn
Flask
Flask-Script
Flask-ElasticSearch
Flask-WTF
Flask-Login
Flask-Mail
Flask-Caching
Flask-Failsafe
Flask-MongoEngine
Flask-Celery-Helper
python-dateutil
translitcodec
python-memcached
pytz
passlib
bcrypt
lxml
minio
pillow
bs4
celery==4.4.0rc3
elasticsearch>=6.0.0,<7.0.0