body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
}

a, a:hover, a:visited, a:active {
  color: $link-color;
}

.btn-highlight {
  background-color: $link-color;
  color: #fff;
  font-weight: bold;
}

.border-highlight {
  border: 1px solid $border-color;
}

#content-wrapper {
  margin-top: 10px;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#flash-messages {
  list-style: none;
  padding: 0;
}

#flash-messages li {
  text-align: center;
}

.row-form {
  padding-bottom: 20px;
}

.row-gap {
  margin-bottom: 50px;
}

.error input {
  border-color: #d9534f;
}

#content-sidebar {
  border: 1px solid #eceeef;
  padding-top: 15px;
  padding-bottom: 15px;
}

a.btn-default {
  border-color: #ccc;
  color: #333;
}

#search-result {
  padding-left: 0;
}

#search-result li {
  list-style: none;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
}

#search-result li {
  display: flex;
  justify-content: space-between;
}

.search-item-image {
  margin-left: 10px;
  margin-bottom: 10px;
}

#document-image img {
  width: 100%;
  height: auto;
}

#document-image p {
  margin-top: 1rem;
}

.search-item-meta {
  color: #999999;
}

.search-result #search-waiting {
  text-align: center;
  padding: 30px 0;
  font-size: 1.4rem;
}

#order-by {
  display: inline-block;
  width: auto;
}

.container.no-gutters, .container-fluid.no-gutters {
  padding-right: 0;
  padding-left: 0;

  > .row {
    margin-right: 0;
    margin-left: 0;
  }

  > .row > .col,
  > .row > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#document-meta {
  padding: 0;
}

#share {
  margin: 30px auto;
}

/* buttons */

#share a {
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 8px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.15s linear;
  line-height: 1rem;
}

#share a:hover {
  opacity: 1;
}

.fake-label {
  display: block;
  margin-bottom: 0.5rem;
}

.modal-dialog {
  margin-top: 80px;
}

#category-overview h5 {
  cursor: pointer;
}

.category-arrow {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.admin-comment {
  padding: 1rem;
  background-color: #ffeeba;
  margin-bottom: 1rem;
}

.admin-comment-alt {
  background-color: #fff3cd;
}

.admin-comment-actions {
  margin-bottom: 0;
}

table#admin-comments a.btn {
  margin: 0.25rem;
}

.logo-box {
  text-align: center;
}

.logo {
  max-width: 100%;
}

.orientation-right {
  text-align: right;
}

.orientation-center {
  text-align: center;
}

#ueber-uns-questionmark {
  font-size: 8rem;
  text-align: center;
}

#team-gallery img {
  margin-bottom: 30px;
}

#document-image-missing {
  font-style: italic;
}

.italic {
  font-style: italic;
}

#archive-categories > ul {
  padding-left: 0;
  list-style: none;
}

#archive-categories > ul > li > ul {
  padding-left: 50px;
}

#archive-categories i {
  cursor: pointer;
}

#geocoding-error {
  display: none;
}


.big-link-box {
  text-align: right;
}

.big-link-box a {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.big-link-box a:after {
  content: " \f061";
  line-height: 1.3rem;
  font: normal normal normal 16px/1 FontAwesome;
}

.color-box {
  background-color: $box-color;
  border-radius: 10px;
  padding: 20px;
}

