#category-current {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

#category-field {
  position: relative;
  user-select: none;
}

#category-search {
  position: absolute;
  top: calc(1.5em + 0.75rem + 2px);
  left: 0;
  right: 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #FFF;
  cursor: pointer;
  list-style: none;
  padding: 0;
  z-index: 1000;
}

#category-search.category-search-loading {
  padding: 0.375rem 0.75rem;
  text-align: center;
}

#category-search li {
  padding: 0.375rem 0.75rem;
}

#category-search .category-parent {
  border-bottom: 1px solid #ced4da;
}

#category-search .disabled {
  cursor: not-allowed;
  color: #ced4da;
}

#search-results {
  list-style: none;
  padding: 0;
}


#search-results li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
}

.search-result-meta {
  color: #999;
}
