{% extends "layout.html" %}

{% block title %}Recherche | {{ super() }}{% endblock %}
{% block description %}
    Nutzen Sie unsere schnelle Suche, um in den vielen tausend Dokumenten und Photos Ihrer Stadt zu
    recherchieren!
{% endblock %}
{% block og_title %}Recherche | {{ super() }}{% endblock %}
{% block og_description %}
    Nutzen Sie unsere schnelle Suche, um in den vielen tausend Dokumenten und Photos Ihrer Stadt
    zu recherchieren!
{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-4">
            <h1>Recherche</h1>
        </div>
        <div class="col-md-8">
            <h1>Ergebnisse</h1>
        </div>
    </div>
    <form id="search-form">
        <div class="row" id="search-list-box"></div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var config = {
            categoryData: {{ category_data|tojson }},
            csrf_token: '{{ csrf_token() }}'
        };
    </script>
    {{ super() }}
{% endblock %}