{% extends "layout.html" %}

{% block title %}Recherche | {{ super() }}{% endblock %}
{% block description %}
    Nutzen Sie unsere schnelle Suche, um in den vielen tausend Dokumenten und Photos Ihrer Stadt zu
    recherchieren!
{% endblock %}
{% block og_title %}Recherche | {{ super() }}{% endblock %}
{% block og_description %}
    Nutzen Sie unsere schnelle Suche, um in den vielen tausend Dokumenten und Photos Ihrer Stadt
    zu recherchieren!
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Recherche</h1>
        </div>
    </div>
    <div class="row" id="search-list-box">
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var archives = {{ archives|tojson }};
        var csrf_token = '{{ csrf_token() }}';
    </script>
    {{ super() }}
{% endblock %}


    <div class="row">
        <div class="col-md-12">
            <h1>Recherche</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Suche</h3>
            <form id="search-form">
                <p>
                    <label for="fulltext">Volltext</label>
                    <input type="text" id="fulltext" name="fulltext" class="form-control" autocomplete="off">
                </p>
                <p>
                    <label for="year-start">Zeitraum (Jahre)</label>
                    <input type="number" id="year-start" name="year-start" class="form-control"> -
                    <input type="number" id="year-end" name="year-end" class="form-control">
                </p>
                <p>
                    <label for="with-files"><input type="checkbox" id="with-files" name="with-files"> Nur Dokumente mit
                        Medien</label>
                </p>
                <p>
                    <label for="help-required"><input type="checkbox" id="help-required" name="help-required">
                        Unbekannte Inhalte</label>
                </p>
                <div id="category-label">Kategorien (<span data-toggle="modal" data-target="#category-overview">Übersicht</span>)</div>
                <div id="category-box">
                    <div id="category-current" data-id="root">Alle Archive</div>
                    <div id="category-parent" class="category-inactive">Eine Ebene hoch</div>
                    <div id="category-children"></div>
                </div>
                <p>
                    <input type="submit" name="submit" value="suchen" class="form-control">
                </p>
            </form>
        </div>
        <div class="col-md-8">
            <h3 id="search-summary">
                <div class="num-results-box"><span class="num-results"><i
                        class="fa fa-spinner fa-pulse fa-fw"></i></span> Ergebnisse
                </div>
                <div class="order-by-box">sortiert nach
                    <select id="order-by" name="order-by" class="form-control">
                        <option value="random">Zufall</option>
                        <option value="title.sort:asc">Titel ▼</option>
                        <option value="title.sort:desc">Titel ▲</option>
                        <option value="date_sort:asc">Datum ▼</option>
                        <option value="date_sort:desc">Datum ▲</option>
                        <option value="_score">Priorität</option>
                    </select>
                </div>
            </h3>
            <div class="search-pagination"></div>
            <ul id="search-result">
                <li id="search-waiting"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></li>
            </ul>
            <div class="search-pagination"></div>
        </div>
    </div>


    <div class="modal fade" id="category-overview" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kategorie-Übersicht</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        stadtarchiv_config = {
            media_url: '{{ config['S3_MEDIA_URL'] }}',
            categories: {{ categories|safe }}
        }
    </script>
    {{ super() }}