<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Mein Stadtarchiv{% endblock %}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description"
              content="{% block description %}In den Stadtarchiven schlummern viele spannende Photos und Dokumente, die Sie hier auf mein-stadtarchiv.de durchstöbern können!{% endblock %}"/>
        <meta name="publisher" content="mein-stadtarchiv.de"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{% block og_title %}Mein Stadtarchiv{% endblock %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ config['PROJECT_URL'] }}{{ request.path }}">
        <meta property="og:image"
              content="{% block og_image %}{{ config['PROJECT_URL'] }}/static/images/kerpen/aussenansicht-fullscreen.jpg{% endblock %}">
        <meta property="og:description"
              content="{% block og_description %}In den Stadtarchiven schlummern viele spannende Photos und Dokumente, die Sie hier auf mein-stadtarchiv.de durchstöbern können!{% endblock %}">

        <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
        <link rel="icon" href="/static/images/favicon/book-icon-32.png" sizes="32x32">
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="/static/css/webapp.min.css?v={{ config['PROJECT_VERSION'] }}">{% endblock %}
</head>
<body class="{% block bodyclass %}default{% endblock %}">
<div id="header-wrapper" class="main-wrapper">
    {% block header %}
        <div id="header" class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Mein Stadtarchiv Logo"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-header">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/recherche">Recherche</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Informationen</a>
                            <div class="dropdown-menu" aria-labelledby="info-dropdown">
                                <a class="dropdown-item" href="/info/ueber-uns">Über Uns</a>
                                <a class="dropdown-item" href="/info/archive">Archive</a>
                                <a class="dropdown-item" href="/info/daten">Daten</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}
</div>
<div id="content-wrapper" class="main-wrapper">
    <div id="content" class="container">
        {% include "messages.html" %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer-wrapper" class="main-wrapper">
    {% block footer %}
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Über Mein Stadtarchiv</h3>
                    <p>Wir öffnen das kommunale Stadtarchiv für Bürgerinnen und Bürger und bieten eine Plattform, um das Archiv gemeinsam zu verbessern.</p>
                </div>
                <div class="col-md-4">
                    <h3>Wichtige Links</h3>
                    <ul>
                        <li><a href="/impressum">Impressum</a></li>
                        <li><a href="/datenschutz">Datenschutz</a></li>
                        <li><a href="/nutzungsbedingungen">Nutzungsbedingungen</a></li>
                        <li><a href="/info/daten">Daten &amp; Lizenz</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Kontakt</h3>
                    <p>
                        E-Mail: <a href="mailto:kontakt@mein-stadtarchiv.de">kontakt@mein-stadtarchiv.de</a><br>
                        Büro der OKF:<br>
                        Singerstraße 109, 10179 Berlin<br>
                        Stadtarchiv Kerpen:<br>
                        Stiftsstraße 8, 50171 Kerpen
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% block scripts %}
    <script type="text/javascript" src="/static/js/webapp.min.js?v={{ config['PROJECT_VERSION'] }}"></script>
{% endblock %}
{% if config.PIWIK_HOST and config.PIWIK_ID %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.{{ config.APP_DOMAIN }}"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//{{ config.PIWIK_HOST }}/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', {{ config.PIWIK_ID }}]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//{{ config.PIWIK_HOST }}/piwik.php?idsite={{ config.PIWIK_ID }}" style="border:0;" alt=""/>
    </p></noscript>
    <!-- End Piwik Code -->
{% endif %}
</body>
</html>