{% from "macros.html" import nav_item, nav_item_extended with context %}<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Mein Stadtarchiv{% endblock %}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="{% block description %}In den Stadtarchiven schlummern viele spannende Photos und Dokumente, die Sie hier auf mein-stadtarchiv.de durchstöbern können!{% endblock %}"/>
        <meta name="publisher" content="mein-stadtarchiv.de"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{% block og_title %}Mein Stadtarchiv{% endblock %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ config['PROJECT_URL'] }}{{ request.path }}">
        <meta property="og:image" content="{% block og_image %}{{ config['PROJECT_URL'] }}/static/images/kerpen/aussenansicht-fullscreen.jpg{% endblock %}">
        <meta property="og:description" content="{% block og_description %}In den Stadtarchiven schlummern viele spannende Photos und Dokumente, die Sie hier auf mein-stadtarchiv.de durchstöbern können!{% endblock %}">

        <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
        <link rel="icon" href="/static/images/favicon/book-icon-32.png" sizes="32x32">
        {% if g.subsite %}
            <link rel="canonical" href="{{ config['PROJECT_URL'] }}{{ request.path }}?{{ request.query_string.decode() }}" />
        {% endif %}
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ static_content['main']['css'] }}">
    {% endblock %}
</head>
<body class="{% block bodyclass %}default{% endblock %}">
<div id="header-wrapper" class="main-wrapper">
    {% block header %}
        <div id="header" class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo.png" alt="Mein Stadtarchiv Logo">
                    {% if g.subsite and g.subsite.title %} | {{ g.subsite.title }}{% endif %}
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-header">
                    <ul class="navbar-nav">
                        {{ nav_item('/recherche', 'Recherche') }}
                        {{ nav_item('/gallery', 'Galerie') }}
                        {% if not g.subsite or (g.subsite and g.subsite.mapEnabled) %}
                            {{ nav_item('/map', 'Karte') }}
                        {% endif %}
                        {{ nav_item_extended('/info', 'Informationen', [
                            ('/info/ueber-uns', 'Über Uns'),
                            ('/archives', 'Archive'),
                            ('/info/mitmachen', 'Mitmachen'),
                            ('/info/daten', 'Daten')
                        ]) }}
                        {% if current_user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu" aria-labelledby="info-dropdown">
                                    {% if current_user.has_capability('admin') %}
                                        <a class="dropdown-item" href="/admin/users">Nutzer</a>
                                        <a class="dropdown-item" href="/admin/subsites">Subsites</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="/admin/archives">Archive</a>
                                    <a class="dropdown-item" href="/admin/comments">Kommentare</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}
</div>
<div id="content-wrapper" class="main-wrapper">
    <div id="content" class="container">
        {% include "messages.html" %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer-wrapper" class="main-wrapper">
    {% block footer %}
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Über "Mein Stadtarchiv"</h4>
                    <p>Wir öffnen das kommunale Stadtarchiv für Bürgerinnen und Bürger und bieten eine Plattform, um das Archiv gemeinsam zu verbessern.</p>
                    <p class="big-link-box"><a href="/info/ueber-uns">mehr über uns</a></p>
                </div>
                <div class="col-md-6">
                    <h4>Kontakt</h4>
                    <p>
                        E-Mail: <a href="mailto:kontakt@mein-stadtarchiv.de">kontakt@mein-stadtarchiv.de</a><br>
                        Büro der OKF:<br>
                        Singerstraße 109, 10179 Berlin
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
<div id="footer-links-wrapper" class="main-wrapper">
    <a href="/impressum">Impressum</a> |
    <a href="/datenschutz">Datenschutz</a> |
    <a href="/nutzungsbedingungen">Nutzungsbedingungen</a> |
    <a href="/login">Login</a>
</div>
{% block scripts %}
    <script>
        var stadtarchivConfig = {
            cdnUrl: "{{ config['MINIO_MEDIA_URL'] }}",
            mapboxToken: '{{ config['MAPBOX_TOKEN'] }}',
            mapboxCenterLat: {{ config['MAPBOX_CENTER_LAT'] }},
            mapboxCenterLon: {{ config['MAPBOX_CENTER_LON'] }},
            mapboxZoom: {{ config['MAPBOX_ZOOM'] }}
        }
    </script>
    <script type="text/javascript" src="{{ static_content['main']['js'] }}"></script>
{% endblock %}
{% if config.PIWIK_HOST and config.PIWIK_ID %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.{{ config.APP_DOMAIN }}"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//{{ config.PIWIK_HOST }}/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', {{ config.PIWIK_ID }}]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//{{ config.PIWIK_HOST }}/piwik.php?idsite={{ config.PIWIK_ID }}" style="border:0;" alt=""/>
    </p></noscript>
    <!-- End Piwik Code -->
{% endif %}
</body>
</html>