{% macro form_field(field, box_width=12, form_type='input-text', unit=None, extra_classes=None, box_classes=None) -%}
    {% if form_type == 'hidden' %}
        {{ field(class='hidden ' + (' '.join(extra_classes) if extra_classes else '')) }}
    {% else %}
        <div class="col-md-{{ box_width }}{% if field.errors %} error{% endif %}{{ (' ' + ' '.join(box_classes) if box_classes else '') }}">
            {% if form_type == 'input-text' %}
                {{ field.label }}
                {% if unit %}
                    <span class="unit unit-{{ unit }}">
                {% endif %}
                {{ field(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else ''), required=False) }}
                {% if unit %}
                    </span>
                {% endif %}
            {% elif form_type == 'input-checkbox' %}
                <label>{{ field(class="") }} {{ field.label.text }}</label>
            {% elif form_type == 'input-checkbox-emptylabel' %}
                <br>
                <label>{{ field(class="") }} {{ field.label.text }}</label>
            {% elif form_type == 'input-submit' %}
                {{ field(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else '')) }}
            {% elif form_type == 'input-submit-emptylabel' %}
                <label>&nbsp;</label>
                {{ field(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else '')) }}
            {% endif %}
            {% if field.description %}
                <p>{{ field.description|safe }}</p>
            {% endif %}
            {% if field.errors %}
                <p class="text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}


{% macro action_button(type, link, text=None, icon=None) %}
    {% if type == 'edit' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="bearbeiten"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    {% elif type == 'delete' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="löschen"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    {% elif type == 'show' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="anzeigen"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
    {% elif type == 'download' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="download"><i class="fa fa-download" aria-hidden="true"></i></a>
    {% elif type == 'new' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="neu"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    {% elif type == 'custom' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="{{ text }}"><i class="fa fa-{{ icon }}" aria-hidden="true"></i></a>
    {% endif %}
{% endmacro %}

{% macro nav_item(path, title) %}
    <li class="nav-item{% if request.path.startswith(path) %} active{% endif %}">
        <a class="nav-link" href="{{ path }}">{{ title }}</a>
    </li>
{% endmacro %}

{% macro nav_item_extended(path, title, items) %}
<li class="nav-item dropdown{% if request.path.startswith(path) %} active{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ title }}
    </a>
    <div class="dropdown-menu" aria-labelledby="info-dropdown">
        {% for item in items %}
            <a class="dropdown-item{% if request.path.startswith(item[0]) %} active{% endif %}" href="{{ item[0] }}">
                {{ item[1] }}
            </a>
        {% endfor %}
    </div>
</li>
{% endmacro %}
