{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                Subsite {{ subsite.title }}
                {{ action_button('edit', '/admin/subsite/%s/edit' % subsite.id) }}
            </h1>
            <table class="table">
                <tr>
                    <td>Host</td>
                    <td>{{ subsite.host }}</td>
                </tr>
                <tr>
                    <td>Zusammenfassung</td>
                    <td>{{ subsite.summary }}</td>
                </tr>
                <tr>
                    <td>Über die Seite</td>
                    <td>{{ subsite.about }}</td>
                </tr>
                <tr>
                    <td>Letzte Aktualisierung</td>
                    <td>{{ subsite.modified|datetime }}</td>
                </tr>
            </table>
            <div id="subsite-categories">
                <h2>
                    Archive
                    {{ action_button('new', '/admin/archive/new') }}
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
