{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Karte</h1>
        </div>
    </div>
    <form id="map-search-form">

    </form>
    <div class="row">
        <div class="col-md-12">
            <div id="document-map"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    var config = {
        mapbox_token: "{{ config.MAPBOX_TOKEN }}",
        cdnUrl: "{{ config['MINIO_MEDIA_URL'] }}",
        categoryData: {{ category_data|tojson }},
        csrf_token: '{{ csrf_token() }}'
    };
    </script>
    {{ super() }}
{% endblock %}