{% extends "layout.html" %}

{% block title %}Archive | {{ super() }}{% endblock %}
{% block og_title %}Archive | {{ super() }}{% endblock %}

{% block content %}
    <div class="row row-gap">
        <div class="col-md-12">
            <h1>Stadtarchive</h1>
            <p>"Mein Stadtarchiv" ist darauf ausgelegt, die Daten vieler Archive zusammenzuführen und so Menschen in
                ganz verschiedenen Städten die Gelegenheit zu geben, Ihre Stadtgeschichte zu entdecken.</p>
            <p>Doch alles fängt klein an, und so haben die Kerpener Bürgerinnen und Bürger als Erste die Möglichkeit,
                ihre Stadtgeschichte auf "Mein Stadtarchiv" zu durchstöbern. Wir freuen uns auf weitere teilnehmende
                Archive!</p>
        </div>
    </div>
    <div class="row row-gap">
        <div class="col-md-12">
            <h2>2.000 Meter Geschichte direkt am Stiftsplatz: Das Kerpener Stadtarchiv</h2>
        </div>
        <div class="col-md-6">
            <p>Auf unserem neuen Portal „Mein Stadtarchiv“ finden Sie Informationen über die Unterlagen, die sich im
                Stadtarchiv Kerpen befinden. Sie können sich mit einem einfachen Klick durch unsere verschiedenen
                Bestände bewegen und sehen, was es hier zu welchem Thema gibt. Die schon digitalisierten Unterlagen –
                Fotos, Akten, Pläne – werden nicht nur angezeigt, sondern stehen auch zum Download bereit. Wenn Sie Ihr
                Wissen über Fotos mit uns teilen wollen, freuen wir uns sehr!</p>
            <p>Wenn Sie darüberhinaus Fragen haben, sind wir im Stadtarchiv im Haus für Kunst und Geschichte gern für
                Sie da! Die <a href="https://www.stadt-kerpen.de/benutzungsordnung_archiv">Benutzung</a> des
                Stadtarchivs ist für alle interessierten Bürgerinnen und Bürger unentgeltlich möglich.</p>
            <p>
                Adresse: Stiftsstraße 8, 50171 Kerpen<br>
                Geöffnet: Di und Mi 09.00–12.00 Uhr, Do 14.00–18.00 Uhr sowie nach Vereinbarung<br>
                Kontakt: <a href="tel:+4902237922170">02237-922170</a> oder <a
                href="mailto:historisches-archiv@stadt-kerpen.de">historisches-archiv@stadt-kerpen.de</a><br>
                Web: <a href="https://www.stadt-kerpen.de/stadtarchiv">www.stadt-kerpen.de/stadtarchiv</a>
            </p>
        </div>
        <div class="col-md-6">
            <a href="/static/images/kerpen/aussenansicht-fullscreen.jpg" data-toggle="lightbox"">
                <img src="/static/images/kerpen/aussenansicht-medium.jpg" alt="Stadtarchiv Kerpen Außenansicht"
                     class="img-fluid">
            </a>
        </div>
    </div>
    <div class="row row-gap">
        <div class="col-md-12">
            <h2>Die Geschichte vor Ort entdecken</h2>
        </div>
        <div class="col-md-4">
            <a href="/static/images/kerpen/magazin-fullscreen.jpg" data-toggle="lightbox">
                <img src="/static/images/kerpen/magazin-medium.jpg" alt="Stadtarchiv Kerpen Magazin" class="img-fluid">
            </a>
        </div>
        <div class="col-md-8">
            <p>Einen besseren Platz für ein Archiv kann man sich nicht wirklich vorstellen: Die Kolpingstadt Kerpen
                erhält ihre Geschichte in einem historischen Gebäude, das selbst spannende Geschichten erzählen kann.
                Die Rede ist von einem nicht zu übersehenden, beeindruckenden Gebäude am Stiftsplatz, das 1842 -1844
                errichtet, früher als Rathaus und Gericht genutzt wurde und nun Gedächtnis der Stadt ist. Das Haus ist
                am 01.06.1996 seiner Bestimmung als „Haus für Kunst und Geschichte“ übergeben worden. Mitten im Kerpener
                Zentrum können sich alle Interessierten über die Kerpener Geschichte informieren, in alten Dokumenten
                lesen, Fotos oder sich Ausstellungen verschiedener Schwerpunkte anschauen.</p>
        </div>
    </div>
    <div class="row row-form">
        <div class="col-md-8">
            <p>Hier befinden sich die Archivalien zur Geschichte der Kolpingstadt. Das Archiv übernimmt alle Unterlagen
                nicht nur der Stadtverwaltung Kerpen, sondern auch der Vorgängerverwaltungen in Horrem, Türnich oder
                Buir. Als Gedächtnis der Verwaltung dokumentiert das Archiv die Tätigkeit von Rat und Verwaltung der
                heutigen Stadt und auch der früher hier bestehenden Gemeinden. Neben den kommunalen Akten sind solche
                von Vereinen, Familien oder Firmen überliefert. Die älteste Urkunde stammt aus dem Jahr 1375. Da das
                Leben in Kerpen aber nicht ausschließlich aus behördlichen Vorgängen besteht, wird darüberhinaus
                ergänzend eine ganze Menge gesammelt: Zeitungen, Fotos, Flugblätter, Plakate, Postkarten und vieles
                mehr.</p>
        </div>
        <div class="col-md-4">
            <a href="/static/images/kerpen/archivarbeit-fullscreen.jpg" data-toggle="lightbox">
                <img src="/static/images/kerpen/archivarbeit-medium.jpg" alt="Stadtarchiv Kerpen Schülerarbeit"
                     class="img-fluid">
            </a>

        </div>
        <div class="col-md-8">
            <p>Wenn Sie Fragen zur Kerpener Geschichte haben, sind Sie hier richtig! Wir ...</p>
            <ul>
                <li>beraten Sie in allen Fragen zur Stadtgeschichte und Familienforschung.</li>
                <li>stellen Schulen Material für den Unterricht zur Verfügung.</li>
                <li>bieten Ausstellungen, Führungen und Vorträge an.</li>
                <li>stellen Gruppen im Rahmen einer Führung unser Archiv und unsere Arbeit vor.</li>
                <li>veröffentlichen Publikationen zur Stadtgeschichte.</li>
            </ul>
        </div>
    </div>
    <div class="row" id="team-gallery">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/static/images/kerpen/team-1.jpg" data-toggle="lightbox" data-gallery="archiv-kerpen-team">
                <img src="/static/images/kerpen/team-1-thumbnail.jpg" alt="Kerpener Archiv-Team" class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/static/images/kerpen/team-2.jpg" data-toggle="lightbox" data-gallery="archiv-kerpen-team">
                <img src="/static/images/kerpen/team-2-thumbnail.jpg" alt="Kerpener Archiv-Team" class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/static/images/kerpen/team-3.jpg" data-toggle="lightbox" data-gallery="archiv-kerpen-team">
                <img src="/static/images/kerpen/team-3-thumbnail.jpg" alt="Kerpener Archiv-Team" class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/static/images/kerpen/team-4.jpg" data-toggle="lightbox" data-gallery="archiv-kerpen-team">
                <img src="/static/images/kerpen/team-4-thumbnail.jpg" alt="Kerpener Archiv-Team" class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/static/images/kerpen/team-5.jpg" data-toggle="lightbox" data-gallery="archiv-kerpen-team">
                <img src="/static/images/kerpen/team-5-thumbnail.jpg" alt="Kerpener Archiv-Team" class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/static/images/kerpen/team-6.jpg" data-toggle="lightbox" data-gallery="archiv-kerpen-team">
                <img src="/static/images/kerpen/team-6-thumbnail.jpg" alt="Kerpener Archiv-Team" class="img-fluid">
            </a>
        </div>
    </div>
{% endblock %}