{% extends "layout.html" %}

{% block content %}
    <div class="row row-gap">
        <div class="col-md-12">
            <h1>Über Uns</h1>
            <p>Mein Stadtarchiv könnte nicht funktionieren, wenn nicht ganz verschiedene Organisationen und Unternehmen dort eng zusammenarbeiten würden. Wer steckt also dahinter?</p>
        </div>
    </div>
    <div class="row row-gap">
        <div class="col-md-8">
            <h2>Stadtarchiv Kerpen</h2>
            <p>Kein Online-Archiv ohne Offline-Dokumente, soviel ist klar. Das Archiv der Kolpingstadt Kerpen hat für den Anfang die Federführung übernommen und ihr Archiv für die Öffentlichkeit geöffnet. Mehr Informationen finden Sie auf der <a href="/info/archive">Archiv-Seite</a>.</p>
        </div>
        <div class="col-md-4 logo-box">
            <img src="/static/images/logos/kerpen.png" alt="Kolpingstadt Kerpen" class="img-fluid">
        </div>
    </div>
    <div class="row row-gap">
        <div class="col-md-8 order-md-2">
            <h2>KDVZ Rhein-Erft-Rur</h2>
            <p>Ohne IT-Dienstleister keine IT-Anwendungen.</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="/static/images/logos/kdvz.jpg" alt="KDVZ Rhein-Erft-Rur" class="img-fluid">
        </div>
    </div>
    <div class="row row-gap">
        <div class="col-md-8">
            <h2>Open Knowledge Foundation Deutschland e.V.</h2>
            <p>Mit offenen Daten kann man vielfältigste Projekte machen und so Zivilgesellschaft, Forschung, Unternehmen, Journalisten und Behörden helfen. Doch der Weg dahin kann auch schon mal holperig sein. Daher bietet die OKF eine Plattform, bei der Beratung, Community und vieles mehr organisiert werden kann.</p>
        </div>
        <div class="col-md-4">
            <object type="image/svg+xml" data="/static/images/logos/okf-de.svg" class="logo">
              <img src="/static/images/logos/okf-de.jpg" alt="OKF Deutschland e.V. Logo" class="img-fluid">
            </object>
        </div>
    </div>
    <div class="row row-gap">
        <div class="col-md-8 order-md-2">
            <h2>OpenNRW</h2>
            <p>Ohne Geld geht es dann doch nicht, und so waren alle oben genannten Projektpartner glücklich, als das Land NRW im Frühjahr 2017 eine Förderung für neue, innovative OpenData-Angebote aufgesetzt hat. Nach einem kurzen und erfolgreichen Bewerbungsprozess hatten wir so die Chance, unsere Ideen realisieren zu können.</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="/static/images/logos/open-nrw.png" alt="OpenNRW" class="img-fluid">
        </div>
    </div>
{% endblock %}