{% if document.files|length %}
    {% if document.files[0].binary_exists %}
        <div id="document-image">
            <a href="{{ config['S3_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/1.jpg"
               data-toggle="lightbox" data-gallery="{{ document.files[0].id }}">
                <img src="{{ config['S3_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/600/1.jpg">
            </a>
            {% if document.files[0].pages %}
                {% if document.files[0].pages > 1 %}
                    {% for page in range(2, document.files[0].pages) %}
                        <a href="{{ config['S3_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/{{ page }}.jpg"
                           data-toggle="lightbox" data-gallery="{{ document.files[0].id }}"
                           style="display: none"></a>
                    {% endfor %}
                    <p>Seite 1 / {{ document.files[0].pages }} (blättern via Klick aufs Bild)</p>
                {% endif %}
            {% endif %}
            <p>
                <a href="{{ config['S3_MEDIA_URL'] }}/files/{{ document.id }}/{{ document.files[0].id }}/download">
                    <i class="fa fa-download" aria-hidden="true"></i> Download der Datei in Originalgröße
                    {% if document.files[0].mimeType %}
                        ({% if document.files[0].mimeType == 'image/jpeg' %}JPEG,
                        {% elif document.files[0].mimeType == 'image/tiff' %}TIFF,
                        {% elif document.files[0].mimeType == 'application/pdf' %}PDF,
                        {% else %}{{ document.files[0].mimeType }},
                    {% endif %}
                    {% endif %}
                    {% if document.files[0].size %}
                        {{ document.files[0].size|filesize }})
                    {% endif %}
                </a>
            </p>
            <p>Quelle: <a href="https://www.stadt-kerpen.de/stadtarchiv" target="_blank">Stadtarchiv Kerpen</a> | Name: <a href="{{ config['PROJECT_URL'] }}/document/{{ document.id }}">{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %}</a> | Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons BY 4.0</a></p>
        </div>
    {% endif %}
{% endif %}