{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block title %}{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %} |
    {{ super() }}{% endblock %}
{% block description %}{% if document.description %}{{ document.description }}{% else %}{{ super() }}
{% endif %}{% endblock %}
{% block og_title %}{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %} |
    {{ super() }}{% endblock %}
{% block og_description %}{% if document.description %}{{ document.description }}{% else %}{{ super() }}
{% endif %}{% endblock %}
{% block og_image %}{% if document.files|length %}{{ config['S3_MEDIA_URL'] }}/thumbnails/{{ document.id }}/
    {{ document.files[0].id }}/1200/1.jpg{% else %}{{ super() }}{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if  document.categories|length %}
                <p>
                    Kategorie{% if document.categories|length > 1 %}n{% endif %}:
                    {% for categories in document.categories %}
                        {% for category in categories %}
                            {{ category.title }}{% if not loop.last %}
                                <span class="category-arrow">→</span>{% endif %}
                        {% endfor %}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if document.description %}<p>{{ document.description }}</p>{% endif %}
            {% if document.note %}<p>{{ document.note }}</p>{% endif %}
            <div id="document-meta" class="container">
                {% if document.date %}
                    <div class="row">
                        <div class="col-6">Datum</div>
                        <div class="col-6">{{ document.date|datetime('fulldate') }}</div>
                    </div>
                {% elif document.date_begin and document.date_end %}
                    {% if document.date_begin|datetime('daymonth') == '0101' and document.date_end|datetime('daymonth') == '3112' %}
                        <div class="row">
                            <div class="col-6">Jahr</div>
                            {% if document.date_begin|datetime('year') == document.date_end|datetime('year') %}
                                <div class="col-6">{{ document.date_begin|datetime('year') }}</div>
                            {% else %}
                                <div class="col-6">{{ document.date_begin|datetime('year') }}
                                    - {{ document.date_end|datetime('year') }}</div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-6">Datum</div>
                            <div class="col-6">{{ document.date_begin|datetime('fulldate') }}
                                - {{ document.date_end|datetime('fulldate') }}</div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-6">Laufende Nummer</div>
                    <div class="col-6">{{ document.order_id }}</div>
                </div>
                {% if document.extra_fields %}
                    {% for extra_field_key, extra_field_value in document.extra_fields.items() %}
                        <div class="row">
                            <div class="col-6">{{ extra_field_key }}</div>
                            <div class="col-6">{{ extra_field_value }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-6">Letztes Update</div>
                    <div class="col-6">{{ document.modified|datetime }}</div>
                </div>
            </div>

            <div id="share">
                <a class="facebook"
                   href="https://www.facebook.com/share.php?u={{ config['PROJECT_URL'] }}{{ request.path }}&title={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}"
                   target="blank"><i class="fa fa-facebook"></i></a>
                <a class="twitter"
                   href="https://twitter.com/intent/tweet?status={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}+{{ config['PROJECT_URL'] }}{{ request.path }}"
                   target="blank"><i class="fa fa-twitter"></i></a>
                <a class="googleplus"
                   href="https://plus.google.com/share?url={{ config['PROJECT_URL'] }}{{ request.path }}"
                   target="blank"><i class="fa fa-google-plus"></i></a>
                <a class="linkedin"
                   href="https://www.linkedin.com/shareArticle?mini=true&url={{ config['PROJECT_URL'] }}{{ request.path }}&title={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}&source=Unser%20Stadtarchiv"
                   target="blank"><i class="fa fa-linkedin"></i></a>
                <a class="pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media=
                        {% if document.files|length %}{{ config['S3_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/1.jpg
                            {% else %}{{ config['PROJECT_URL'] }}/static/images/stadtarchiv.jpg{% endif %}&url=
                        {{ config['PROJECT_URL'] }}{{ request.path }}&is_video=false&description=
                        {% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}"
                   target="blank"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class=" d-md-none">
                {% include 'single_document_image.html' %}
            </div>
            <div id="document-comments">
                <h3>{% if comments|length == 0 %}Noch keine Kommentare{% elif comments|length == 1 %}Ein Kommentar
                    {% else %}{{ comments|length }} Kommentare{% endif %}</h3>
                {% for comment in comments %}
                    <div class="document-comment{% if loop.index % 2 == 1 %} document-comment-alt{% endif %}">
                        <p class="document-comment-meta">{{ comment.author_name }} schrieb
                            am {{ comment.created|datetime }}:</p>
                        <div class="document-comment-content">{{ comment.content }}</div>
                    </div>
                {% else %}
                    <p>Es wurden noch keine Kommentare geschrieben. Aber vielleicht können Sie uns helfen, das Dokument
                        besser einzuordnen? Schreiben Sie gerne etwas dazu!</p>
                {% endfor %}
            </div>
            <form class="container" method="POST" action="/document/{{ document.id }}" id="comment-form">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Kommentar schreiben</h3>
                    </div>
                    {{ form_field(form.name, 12) }}
                    {{ form_field(form.email, 12) }}
                    {{ form_field(form.text, 12) }}
                    {{ form_field(form.submit, 12, 'input-submit') }}
                    {{ form.csrf_token }}
                    <div class="col-md-12">
                        <h5>Wie Sie uns helfen können</h5>
                        {% if document.help_required %}
                            <p>Erkennen Sie, was auf dem Bild zu sehen ist und wann es entstanden sein könnte?</p>
                        {% else %}
                            <p>Dieses Dokument ist Teil des Stadtarchives. Wir kennen den Kontext des Bildes, aber vielleicht können Sie spannende Details ergänzen?</p>
                        {% endif %}
                        <p>Mit dem Schreiben eines Kommentars erklären Sie sich mit unseren <a gref="/nutzungsbedingungen">Nutzungsbedingungen</a> einverstanden.</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-none d-md-block">
            {% include 'single_document_image.html' %}
        </div>
    </div>
{% endblock %}