{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block title %}{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %} | {{ super() }}{% endblock %}
{% block description %}{% if document.description %}{{ document.description }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block og_title %}{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %} | {{ super() }}{% endblock %}
{% block og_description %}{% if document.description %}{{ document.description }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block og_image %}{% if document.files|length %}{{ config['MINIO_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/1.jpg{% else %}{{ super() }}{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %}
                {% if current_user.has_capability('admin') %}
                    {{ action_button('show', '/admin/document/%s/show' % document.id) }}
                    {{ action_button('edit', '/admin/document/%s/edit' % document.id) }}
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if document.categories|length %}
                <p>
                    Kategorie{% if document.categories|length > 1 %}n{% endif %}:
                    {% for categories in document.categories %}
                        {% for category in categories %}
                            <a href="/recherche?category={{ category.id }}">{{ category.title }}</a>
                            {% if not loop.last %}<span class="category-arrow">→</span>{% endif %}
                        {% endfor %}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if document.description %}<p>{{ document.description }}</p>{% endif %}
            {% if document.note %}<p>{{ document.note }}</p>{% endif %}
            <div id="document-meta" class="container">
                {% if document.date %}
                    <div class="row">
                        <div class="col-6">Datum</div>
                        <div class="col-6">{{ document.date|datetime('fulldate') }}</div>
                    </div>
                {% elif document.dateBegin and document.dateEnd %}
                    {% if document.dateBegin|datetime('daymonth') == '0101' and document.dateEnd|datetime('daymonth') == '3112' %}
                        <div class="row">
                            <div class="col-6">Jahr</div>
                            {% if document.dateBegin|datetime('year') == document.dateEnd|datetime('year') %}
                                <div class="col-6">{{ document.dateBegin|datetime('year') }}</div>
                            {% else %}
                                <div class="col-6">
                                    {{ document.dateBegin|datetime('year') }} - {{ document.dateEnd|datetime('year') }}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-6">Datum</div>
                            <div class="col-6">
                                {{ document.dateBegin|datetime('fulldate') }} - {{ document.dateEnd|datetime('fulldate') }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-6">Laufende Nummer</div>
                    <div class="col-6">{{ document.orderId }}</div>
                </div>
                {% if document.origination %}
                <div class="row">
                    <div class="col-6">Herkunft</div>
                    <div class="col-6">{{ document.origination }}</div>
                </div>
                {% endif %}
                {% if document.extraFields %}
                    {% for extra_field_key, extra_field_value in document.extraFields.items() %}
                        <div class="row">
                            <div class="col-6">{{ extra_field_key }}</div>
                            <div class="col-6">{{ extra_field_value }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-6">Letztes Update</div>
                    <div class="col-6">{{ document.modified|datetime }}</div>
                </div>
            </div>
            <div class="d-md-none">
                {% include 'single_document_image.html' %}
            </div>
            <div id="document-comments" style="margin-top: 2rem;">
                <h3>
                    {% if comments|length == 1 %}
                        Ein Kommentar
                    {% elif comments|length > 1 %}
                        {{ comments|length }} Kommentare
                    {% endif %}
                </h3>
                {% for comment in comments %}
                    <div class="document-comment{% if loop.index % 2 == 1 %} document-comment-alt{% endif %}">
                        <p class="document-comment-meta">
                            <strong>{{ comment.authorName }}</strong> schrieb am {{ comment.created|datetime }}
                            {% if comment.status == 2 %}<i class="fa fa-plus-circle" aria-hidden="true"></i>
                            {% else %}<i class="fa fa-check-circle" aria-hidden="true"></i>{% endif %}
                        </p>
                        <div class="document-comment-content">{{ comment.content }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12" style="margin-top: 2rem;">
                <h3>Neuen Kommentar schreiben</h3>
            </div>
            <form class="container color-box" method="POST" action="/document/{{ document.id }}" id="comment-form">
                <div class="row row-form">
                    {{ form_field(form.name, 12) }}
                </div>
                <div class="row row-form">
                    {{ form_field(form.email, 12) }}
                </div>
                <div class="row row-form">
                    {{ form_field(form.text, 12) }}
                </div>
                <div class="row row-form">
                    {{ form_field(form.submit, 12, 'input-submit', extra_classes=['btn btn-highlight']) }}
                    {{ form.csrf_token }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Mit dem Schreiben eines Kommentars erklären Sie sich mit unseren
                            <a href="/nutzungsbedingungen">Nutzungsbedingungen</a> einverstanden.
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-none d-md-block">
            {% include 'single_document_image.html' %}
            <div id="lat-value" style="display: none">{{ document.lat }}</div>
            <div id="lon-value" style="display: none">{{ document.lon }}</div>
            <div id="single-maker-map-container"></div>
            <div id="share">
                <a class="facebook" href="https://www.facebook.com/share.php?u={{ config['PROJECT_URL'] }}{{ request.path }}&title={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}" target="blank"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="https://twitter.com/intent/tweet?status={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}+{{ config['PROJECT_URL'] }}{{ request.path }}" target="blank"><i class="fa fa-twitter"></i></a>
                <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ config['PROJECT_URL'] }}{{ request.path }}&title={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}&source=Unser%20Stadtarchiv" target="blank"><i class="fa fa-linkedin"></i></a>
                <a class="pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media={% if document.files|length %}{{ config['MINIO_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/1.jpg{% else %}{{ config['PROJECT_URL'] }}/static/images/stadtarchiv.jpg{% endif %}&url={{ config['PROJECT_URL'] }}{{ request.path }}&is_video=false&description={% if document.title %}{{ document.title|urlencode }}{% else %}Namenloses%20Dokument{% endif %}" target="blank"><i class="fa fa-pinterest-p"></i></a>
            </div>
        </div>
    </div>
{% endblock %}