{% if document.files|length %}
    {% if document.files[0].binary_exists %}
        <div id="document-image">
            <a href="{{ config['MINIO_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/1.jpg"
               data-toggle="lightbox" data-gallery="{{ document.files[0].id }}">
                <img src="{{ config['MINIO_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/600/1.jpg">
            </a>
            {% if document.files[0].pages %}
                {% if document.files[0].pages > 1 %}
                    {% for page in range(2, document.files[0].pages) %}
                        <a href="{{ config['MINIO_MEDIA_URL'] }}/thumbnails/{{ document.id }}/{{ document.files[0].id }}/1200/{{ page }}.jpg"
                           data-toggle="lightbox" data-gallery="{{ document.files[0].id }}"
                           style="display: none"></a>
                    {% endfor %}
                    <p>Seite 1 / {{ document.files[0].pages }} (blättern via Klick aufs Bild)</p>
                {% endif %}
            {% endif %}
            <p>
                <a href="{{ config['MINIO_MEDIA_URL'] }}/files/{{ document.id }}/{{ document.files[0].id }}">
                    <i class="fa fa-download" aria-hidden="true"></i> Download der Datei in Originalgröße
                    {% if document.files[0].mimeType %}
                        ({% if document.files[0].mimeType == 'image/jpeg' %}JPEG,
                            {% elif document.files[0].mimeType == 'image/tiff' %}TIFF,
                            {% elif document.files[0].mimeType == 'image/png' %}PNG,
                            {% elif document.files[0].mimeType == 'application/pdf' %}PDF,
                            {% else %}{{ document.files[0].mimeType }},
                        {% endif %}
                    {% endif %}
                    {% if document.files[0].size %}
                        {{ document.files[0].size|filesize }})
                    {% endif %}
                </a>
            </p>
            {% if document.categories|length and document.categories[0]|length %}
                <p>
                    {% if document.categories[0][0].licenceAuthorName and document.categories[0][0].licenceAuthorUrl %}
                        Quelle: <a href="{{ document.categories[0][0].licenceAuthorUrl }}" target="_blank">{{ document.categories[0][0].licenceAuthorName }}</a><br>
                    {% elif document.categories[0][0].licenceAuthorName %}
                        Quelle: {{ document.categories[0][0].licenceAuthorName }}
                    {% endif %}
                    Name: <a href="{{ config['PROJECT_URL'] }}/document/{{ document.id }}">{% if document.title %}{{ document.title }}{% else %}Unbekannte Darstellung{% endif %}</a><br>
                    {% if document.categories[0][0].licenceName and document.categories[0][0].licenceUrl %}
                        Lizenz: <a href="{{ document.categories[0][0].licenceUrl }}" target="_blank">{{ document.categories[0][0].licenceName }}</a><br>
                    {% elif document.categories[0][0].licenceName %}
                        Lizenz: {{ document.categories[0][0].licenceName }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <div id="document-image-missing">
        <p>Dieses Dokument wurde noch nicht digitalisiert. Sie können es sich aber vort Ort im Stadtarchiv anschauen. Es werden über die Zeit immer mehr Dokumente digitalisiert und hier veröffentlicht, da dies aber geld- und zeitaufwändig ist, haben Sie bitte ein wenig (mehr) Geduld.</p>
        <p>Wenn Sie auf der Suche nach Online-Medien sind, können Sie bei der Suche dies ganz einfach einstellen.</p>
    </div>
{% endif %}
